@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --yellow: #ecc94b;
  --white: #ffffff;
  --olive-green: #495e57;
}

h1 {
  font-size: 28px !important;
  font-weight: 800 !important;
}

h4 {
  font-size: 20px !important;
  font-weight: 400 !important;
}

* {
  font-family: 'Poppins', sans-serif !important;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  grid-area: headerArea;
}

footer {
  grid-area: footerArea;
}

main>#herosection {
  grid-area: heroArea;
}

main>#specialdetails {
  grid-area: specialDishesArea;
}

main>#testimonials {
  grid-area: testimonialsArea;

}

main>#resturantdetails {
  grid-area: resturantDetailsArea;
}

#grid-container-app {
  display: grid;
  grid-template:
    "headerArea"
    "heroArea"
    "specialDishesArea"
    "testimonialsArea"
    "resturantDetailsArea"
    "footerArea";

}