/* navigation bar */
nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

nav>ul>li {
    padding: 20px 30px;
    list-style: none;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: black;
}

nav>ul>li:hover {
    background-color: var(--yellow);
}

/* hero section */

#aside-hero {
    grid-area: asidehero;
    text-wrap: pretty;
    padding: 60px;
    padding-left: 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#image-hero {
    grid-area: imagehero;
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

#herosection {
    height: 360px;
    background-color: var(--olive-green);
    display: grid;
    grid-template: "asidehero imagehero";
    grid-template-columns: 45% 55%;
    padding: 0px 212px;
}

#image-hero>img {
    border-radius: 50px;
    margin-top: 40px;
    height: 360px;
    width: 450px;
}

#aside-hero>h1 {
    color: var(--yellow);
}

#aside-hero>h4 {
    color: var(--white);
}

#aside-hero>p {
    color: var(--white);
    margin-top: 4px;
}






/* Special dishes */

#order-online-header {
    grid-area: orderOnlineArea;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}

#week-special-container {
    grid-area: weekSpecialArea;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

#specialdetails {
    display: grid;
    grid-template: "orderOnlineArea"
        "weekSpecialArea";
    padding: 20px;

}

.food-details-container {
    margin: 20px;
    width: 300px;

}

.food-price {
    color: var(--yellow);
}

.food-detail-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.food-detail-description {
    margin: 40px 10px;
}

.food-order-link {
    margin: 10px;
    display: flex;
    align-items: center;
}

/* testimonials */

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 20px;
    flex-direction: column;
}

.testimonials-card-container {
    display: flex;
    flex-direction: row;
    margin: 20px 140px;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial-detail-container {
    margin: 20px;
}

.testimonial-card {
    width: 220px;
    text-align: center;
}

.testimonial-detail-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4px;
}

/* Resturant details */
#image-resturantdetails {
    grid-area: imageresturant;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#aside-resturantdetails {
    grid-area: asideresturant;
    text-wrap: pretty;
    padding: 60px;
    padding-left: 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#resturantdetails {
    height: 500px;
    background-color: var(--yellow);
    display: grid;
    grid-template: "asideresturant imageresturant";
    grid-template-columns: 45% 55%;
    padding: 40px 200px;
}

#image-resturantdetails>img:nth-child(1) {
    z-index: 1;
    position: relative;
    top: 28px;
    height: 320px;
    width: 320px;
    left: 80px;

}

#image-resturantdetails>img:nth-child(2) {
    z-index: 2;
    position: relative;
    bottom: 28px;
    height: 320px;
    width: 320px;
}



#aside-resturantdetails>h1,
h4,
p {
    color: black;
}


@media only screen and (max-width: 1200px) {
    #resturantdetails {
        padding: 40px 134px 40px 10px;
    }
}


/* media query to make it vertical on mobile */
@media only screen and (max-width: 768px) and (min-width:200px) {
    .testimonials-card-container {
        margin: 0px !important;
    }

}


@media only screen and (max-width: 568px) and (min-width:200px) {
    footer>div {
        display: none;
    }

}

@media only screen and (max-width: 1200px) and (min-width:768px) {
    #herosection {
        grid-template-columns: 45% 55%;
        padding: 0px 20px;
    }
}


@media only screen and (max-width: 768px) {
    #herosection {
        grid-template: "asidehero";
        grid-template-columns: repeat(1, 100vw);
        padding: 0px 10px;
    }

    #image-hero {
        display: none;
    }



    #aside-hero {
        padding: 40px 20px;
    }

    #aside-resturantdetails {
        padding: 40px 20px;
    }

    #resturantdetails {
        grid-template: "asideresturant";
        grid-template-columns: 100%;
        padding: 10px 60px !important;
    }


}

@media only screen and (max-width: 990px) {
    #image-resturantdetails {
        display: none !important;
    }

    #resturantdetails {
        grid-template: "asideresturant";
        grid-template-columns: 100%;
        padding: 10px 100px;
    }
}



/* footer */

footer {
    display: flex;
    background: var(--olive-green);
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

footer>div {
    margin-left: 40px;
}



footer h4 {
    color: white;
}

footer img {
    height: 140px;
}

footer li {
    list-style: none;
}

footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contact-footer {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.food-details-container img {
    border-radius: 10px;
}